* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: select;
	user-select: none;
}

body {
	margin: 0;
	background: black;
}

.white { color: white; }
.red { color: red; }
.blue { color: blue; }
.green { color: green; }
.yellow { color: yellow; }
.orange { color: orange; }

#dozenal {
	width: 100vw;
	height: 100vh;
	font-family: monospace;
	font-size: 0;
	color: white;
	background: #111;
}

#loadingPage {
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	margin: 0;
	line-height: 100vh;
	text-align: center;
	font-size: large;
	color: white;
	background: black;
}

#map {
	display: inline-block;
	height: 50%;
	width: 50%;
	margin: 0;
	text-align: center;
	font-size: medium;
	overflow: hidden;
}

#stats {
	display: inline-block;
	height: 50%;
	width: 50%;
	padding-left: 12px;
	text-align: left;
	vertical-align: top;
}

#log {
	display: inline-block;
	height: 50%;
	width: 50%;
	padding: 12px;
	margin: 0;
	list-style: none;
	text-align: left;
	font-size: 12px;
	overflow: hidden;
}

#buttons {
	display: inline-block;
	height: 50%;
	width: 50%;
	margin: 0;
	font-size: 0;
	vertical-align: top;
}

#events {
	display: none;
	position: absolute;
	z-index: 1;
	height: 100%;
	width: 100%;
	text-align: center;
	background: black;
}

#mapmini, #mapfull { position: relative; }
#mapmini { min-width: 180px; }
#mapfull { min-width: 400px; }
#mapfull div img {
	width: 100%;
	height: 100%;
}

#mapfull div, #mapmini div {
	background: black;
}

#mapmini div, #mapfull div, #minimap img {
	display: inline-block;
	height: 16px;
	width: 16px;
	/*padding: 2px 5px;*/
	box-sizing: border-box;
	vertical-align: top;
}

#statsColumn1, #statsColumn2 {
	display: inline-block;
	width: 50%;
	height: 100%;
	font-size: 12px;
	vertical-align: top;
}

#statsAll {
	font-size: medium;
	width: 100%;
	height: 100%;
	padding: 12px;
	overflow: auto;
}

#button1, #button2, #button3,
#button4, #button5, #button6,
#button7, #button8, #button9 {
	height: calc(100% / 3);
	width: calc(100% / 3);
	box-sizing: border-box;
	display: inline-block;
	line-height: 100%;
	text-align: center;
	font-size: medium;
	color: white;
	background: gray;
	cursor: select;
	user-select: none;
	border: none;
	background: #222;
	vertical-align: top;
}

#map:hover, #stats:hover, #log:hover,
#button1:hover, #button2:hover, #button3:hover,
#button4:hover, #button5:hover, #button6:hover,
#button7:hover, #button8:hover, #button9:hover { background: #333; }

#map:active, #stats:active, #log:active,
#button1:active, #button2:active, #button3:active,
#button4:active, #button5:active, #button6:active,
#button7:active, #button8:active, #button9:active { background: #444; }

#events * { box-sizing: border-box; }

#eventHeader {
	width: 100%;
	height: calc(100% / 6);
}

#eventScreen {
	width: 100%;
	height: calc(500% / 6);
	position: relative;
	font-size: medium;
}

#eventMsg {
	display: inline-block;
	width: 50%;
	font-size: medium;
	background: #111;
}

#eventPlay, #eventLeave {
	display: inline-block;
	width: 25%;
	font-size: medium;
	background: #222;
}
#eventPlay:hover, #eventLeave:hover { background: #333; }
#eventPlay:active, #eventLeave:active { background: #444; }

.enemy {
	position: absolute;
	border: none;
	text-align: center;
	font-size: small;
	background: red;
}

.runner {
	position: absolute;
	border: none;
	height: 60px;
	width: 60px;
	text-align: center;
	font-size: small;
	background: green;
}

.question {
	width: 100%;
	height: 20%;
	text-align: center;
	font-size: xx-large;
	background: #111;
	color: white;
}

.answer {
	display: inline-block;
	vertical-align: top;
	background: #222;
	font-size: xx-large;
}
.answer:hover { background: #333; }
.answer:active { background: #444; }
.answerPattern { width: calc(100% / 12); }
.answerGreyed { background: #111; }
.answerGreyed:hover { background: #111; }
.answerGreyed:active { background: #111; }
